@charset "utf-8";

body{
    margin: 0;
	padding: 0;
	background-color: #fdf9f0;
	background-repeat: repeat-x;
	color: #000000;
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 87.5%;
	line-height: 1.5;
}
header {
    margin: 0;
	padding: 2px 0 2px 0;
    background-color: #00ffff;
}

footer p {
	margin: 0;
	padding: 20px 0 20px 0;
	background-color: #00ffff;
	color: #000000;
}